{% extends "base.twig" %}

{% block content %}

{# Blog Home Hero Section #}
<section class="py-12 text-center">
    <div class="container mx-auto px-4">
        <h1 class="text-5xl font-bold mb-4">{{ site.name }}</h1>
        <div class="text-xl text-base-content/70 max-w-2xl mx-auto">
            {{ site.description }}
        </div>
    </div>
</section>

{# Posts Grid Section #}
<section class="py-12 bg-base-200">
    <div class="container mx-auto px-4 max-w-7xl">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for post in posts %}
                {% include 'components/post-card.twig' with {post: post} %}
            {% else %}
                <div class="col-span-full text-center py-12">
                    <p class="text-lg text-base-content/60">
                        {{ __('Sorry, no posts matched your criteria.', 'picowind-tw') }}
                    </p>
                </div>
            {% endfor %}
        </div>

        {# Pagination #}
        {% if posts.pagination.pages %}
            <div class="flex justify-center mt-12">
                {% include 'components/pagination.twig' %}
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
