{% extends "base.twig" %}

{% block content %}

{# Page Header #}
<section class="py-12 bg-base-200 text-center">
    <div class="container mx-auto px-4">
        <h1 class="text-5xl font-bold">
            {{ post.title }}
        </h1>
    </div>
</section>

{# Page Content #}
<div id="container-content-page" class="container mx-auto px-4 max-w-4xl py-12">
    <div class="prose prose-lg max-w-none mx-auto">
        {{ post.content }}
    </div>
</div>

{% endblock %}
