{% extends "base.twig" %}

{% block content %}

{# Page Header #}
<section class="py-12 bg-base-200 text-center">
    <div class="container mx-auto px-4">
        <h1 class="text-5xl font-bold">
            {{ post.title }}
        </h1>
    </div>
</section>

{# Page Content with Sidebar #}
<div id="container-content-page" class="container mx-auto px-4 max-w-7xl py-12">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
        {# Sidebar - appears first on desktop #}
        <aside class="lg:col-span-3 order-last lg:order-first">
            {{ function('get_sidebar') }}
        </aside>

        {# Main Content #}
        <div class="lg:col-span-9">
            <div class="prose prose-lg max-w-none">
                {{ post.content }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
